@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EASPORTS";
  src: url("/fonts/EASPORTS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-EASPORTS {
  font-family: "EASPORTS";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
